src/flows/Sample_Flow_Record_Form.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Acc_to_Insert_List</name>
        <label>Add Acc to Insert List</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>AccountsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Acc_to_Update_List</name>
        <label>Add Acc to Update List</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Con_to_Insert_List</name>
        <label>Add Con to Insert List</label>
        <locationX>1018</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ContactsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Con_to_Update_List</name>
        <label>Add Con to Update List</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ContactToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Account_Table_Row</name>
        <label>New Account Table Row</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AccountTableHTML</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAccountTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Acc_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Contact_HTML_Row</name>
        <label>New Contact HTML Row</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ContactTableHTML</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContactTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Con_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Lead_HTML_Row</name>
        <label>New Lead HTML Row</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>LeadTableHTML</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLeadTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accounts</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contacts</name>
        <choiceText>Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leads</name>
        <choiceText>Leads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leads</stringValue>
        </value>
    </choices>
    <constants>
        <name>AccountTableHeader</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;table style=&quot;margin-left:auto;margin-right:auto;width:100%;&quot;&gt;&lt;tr&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Id&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Name&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Street&lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>ContactTableHeader</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;table style=&quot;margin-left:auto;margin-right:auto;width:100%;&quot;&gt;&lt;tr&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Id&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;First Name&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Last Name&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Email&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Account&lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>LeadTableHeader</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;table style=&quot;margin-left:auto;margin-right:auto;width:100%;&quot;&gt;&lt;tr&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;First Name&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Last Name&lt;/th&gt;&lt;th style=&quot;border:1px solid;&quot;&gt;Company&lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Acc_Id</name>
        <label>Check Acc Id</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Add_Acc_to_Insert_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acc_has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Accounts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Acc_to_Update_List</targetReference>
            </connector>
            <label>Acc has Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Con_Id</name>
        <label>Check Con Id</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Add_Con_to_Insert_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Con_Has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contacts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Con_to_Update_List</targetReference>
            </connector>
            <label>Con Has Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Loop</name>
        <label>Select Loop</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>The_Leads_Component</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Display_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_to_Display_and_Edit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accounts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_Accounts_Component</targetReference>
            </connector>
            <label>Display Accounts</label>
        </rules>
        <rules>
            <name>Display_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_to_Display_and_Edit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contacts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_Contacts_Component</targetReference>
            </connector>
            <label>Display Contacts</label>
        </rules>
    </decisions>
    <description>Demo of the Flow Record Form LWC. Can Update/Insert Accounts and Contacts or Insert Leads</description>
    <formulas>
        <name>NewAccountTableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Accounts.Id}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Accounts.Name}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Accounts.BillingStreet}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>NewContactTableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Contacts.Id}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Contacts.FirstName}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Contacts.LastName}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Contacts.Email}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Contacts.Account.Name}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>NewLeadTableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Leads.FirstName}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Leads.LastName}+&apos;&lt;/td&gt;&apos;+
            &apos;&lt;td style=&quot;border: 1px solid;&quot;&gt;&apos;+{!Loop_Leads.Company}+&apos;&lt;/td&gt;&apos;+
&apos;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Sample Flow Record Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample Flow Record Form</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Account_Table_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Contact_HTML_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <collectionReference>NewLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Lead_HTML_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Accounts</name>
        <label>Insert Accounts</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
        <inputReference>AccountsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Contacts</name>
        <label>Insert Contacts</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <inputReference>ContactsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Leads</name>
        <label>Insert Leads</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <inputReference>NewLeads</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Data</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>666</locationX>
        <locationY>1670</locationY>
        <inputReference>ContactToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Account</name>
        <label>Display Account</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Accounts</targetReference>
        </connector>
        <fields>
            <name>AccountsDisplay</name>
            <fieldText>&lt;p&gt;{!AccountTableHTML}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Contact</name>
        <label>Display Contact</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Contacts</targetReference>
        </connector>
        <fields>
            <name>ContactsDisplay</name>
            <fieldText>&lt;p&gt;{!ContactTableHTML}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Lead</name>
        <label>Display Lead</label>
        <locationX>1018</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Leads</targetReference>
        </connector>
        <fields>
            <name>ContactsDisplay_0</name>
            <fieldText>&lt;p&gt;{!LeadTableHTML}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Data</name>
        <label>Select Data</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Loop</targetReference>
        </connector>
        <fields>
            <name>Data_to_Display_and_Edit</name>
            <choiceReferences>Accounts</choiceReferences>
            <choiceReferences>Contacts</choiceReferences>
            <choiceReferences>Leads</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Data to Display and Edit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Accounts_Component</name>
        <label>The Accounts Component</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <fields>
            <name>AccountsComponent</name>
            <dataTypeMappings>
                <typeName>theObj</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowRecordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recList</name>
                <value>
                    <elementReference>Get_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>jsonFlds</name>
                <value>
                    <stringValue>[{&quot;theIndex&quot;:0,&quot;apiName&quot;:&quot;Name&quot;,&quot;theLabel&quot;:&quot;Name&quot;,&quot;isRequired&quot;:true,&quot;fldSize&quot;:&quot;4&quot;,&quot;showRemove&quot;:false},{&quot;apiName&quot;:&quot;BillingStreet&quot;,&quot;theIndex&quot;:1,&quot;theLabel&quot;:&quot;Street&quot;,&quot;isRequired&quot;:false,&quot;fldSize&quot;:&quot;4&quot;,&quot;showRemove&quot;:true}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Accounts</assignToReference>
                <name>recList</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Contacts_Component</name>
        <label>The Contacts Component</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <fields>
            <name>ContactsComponent</name>
            <dataTypeMappings>
                <typeName>theObj</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowRecordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recList</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>jsonFlds</name>
                <value>
                    <stringValue>[{&quot;theIndex&quot;:0,&quot;apiName&quot;:&quot;FirstName&quot;,&quot;theLabel&quot;:&quot;First Name&quot;,&quot;isRequired&quot;:true,&quot;fldSize&quot;:&quot;2&quot;,&quot;showRemove&quot;:false},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;theIndex&quot;:1,&quot;theLabel&quot;:&quot;Last Name&quot;,&quot;isRequired&quot;:true,&quot;fldSize&quot;:&quot;2&quot;,&quot;showRemove&quot;:true},{&quot;apiName&quot;:&quot;Email&quot;,&quot;theIndex&quot;:2,&quot;theLabel&quot;:&quot;Email&quot;,&quot;isRequired&quot;:true,&quot;fldSize&quot;:&quot;2&quot;,&quot;showRemove&quot;:true},{&quot;apiName&quot;:&quot;AccountId&quot;,&quot;theIndex&quot;:3,&quot;theLabel&quot;:&quot;Organization&quot;,&quot;isRequired&quot;:true,&quot;fldSize&quot;:&quot;3&quot;,&quot;showRemove&quot;:true}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Contacts</assignToReference>
                <name>recList</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Leads_Component</name>
        <label>The Leads Component</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <fields>
            <name>LeadsComponent</name>
            <dataTypeMappings>
                <typeName>theObj</typeName>
                <typeValue>Lead</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowRecordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>jsonFlds</name>
                <value>
                    <stringValue>[{&quot;theIndex&quot;:0,&quot;showRemove&quot;:false,&quot;apiName&quot;:&quot;FirstName&quot;,&quot;theLabel&quot;:&quot;First Name&quot;,&quot;fldSize&quot;:&quot;3&quot;,&quot;isRequired&quot;:true},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;theIndex&quot;:1,&quot;showRemove&quot;:true,&quot;theLabel&quot;:&quot;Last Name&quot;,&quot;isRequired&quot;:true,&quot;fldSize&quot;:&quot;3&quot;},{&quot;apiName&quot;:&quot;Company&quot;,&quot;theIndex&quot;:2,&quot;showRemove&quot;:true,&quot;theLabel&quot;:&quot;Organization&quot;,&quot;isRequired&quot;:true,&quot;fldSize&quot;:&quot;3&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recList</name>
                <value>
                    <elementReference>NewLeads</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewLeads</assignToReference>
                <name>recList</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ContactTableHeaderTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;table style=&quot;margin-left:auto;margin-right:auto;width:100%;&quot;&amp;gt;&amp;lt;tr&amp;gt;&amp;lt;th style=&quot;border:1px solid;&quot;&amp;gt;Id&amp;lt;/th&amp;gt;&amp;lt;th style=&quot;border:1px solid;&quot;&amp;gt;First Name&amp;lt;/th&amp;gt;&amp;lt;th style=&quot;border:1px solid;&quot;&amp;gt;Last Name&amp;lt;/th&amp;gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;lt;th style=&quot;border:1px solid;&quot;&amp;gt;Email&amp;lt;/th&amp;gt;&lt;/span&gt;&amp;lt;th style=&quot;border:1px solid;&quot;&amp;gt;AccountId&amp;lt;/th&amp;gt;&amp;lt;/tr&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountTableHTML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountTableHeader</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContactsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactTableHTML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ContactTableHeader</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LeadTableHTML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LeadTableHeader</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
